@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("Merriweather-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url("Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}
