@import "prose.css";
@import "project-card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased text-base;
  }

  body {
    @apply bg-slate-50 text-slate-600 lowercase leading-relaxed;
  }

  ::selection {
    @apply bg-slate-200;
  }
}
